/* TEXT FIELD */

.text-field {
  width: 100%;
  position: relative;
}

.text-field__input {
  width: 100%;
  background-color: var(--color-light);
  border-radius: var(--base-border-radius);
  box-shadow: var(--shadow-base);
  min-height: 42px;
  padding-left: 16px;
  padding-right: 40px;
  font-size: var(--font-size-sm-3);
  transition-duration: .3s;
}
.text-field__input:disabled {
  opacity: .5;
}

.text-field__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}